*{
    margin: 0;
    padding: 0;

}
body{
    background: #ecd5d5;
    color: #666060;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.crud{
    width: 80%;
    margin: auto;
}
.head
{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #b67777;
    margin: 4px 0;
    border-radius:4px;
    padding: 4px;
    color: #fff;
}
input:focus{
    background: #743b3b;/**/
    transform : scale(1.1);
}
.price input{
    width: 20%;
}
#total{
    background: #5f0d36;/**/
    padding: 5px 2px;
    border-radius:4px;
}
#total::before{
    content: 'TOTAL:';
}
button{
    width:100%;
    height: 30px;
    border:none;
    cursor: pointer;
    background: #581b33;
    color: #fff;
    border-radius: 20px;
    transition:0.5s;
}
button:hover{
    background: #830644;/**/
    letter-spacing: 2px;
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}
.btnsearch button{
    width: 45%;
}
#deleteall{
    margin: 20px 0;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
.caf{
        display: inline-block;
        margin-top: 20px;
        background-color: #581b33;
        color: #cebdaf;
        padding: 12px 25px;
        border-radius: 25px;
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s;
}